<template>
  <div>
    <b-button
      class="btn btn-block btn-sm primary-button center-button ml-10-p"
      v-b-modal.ADD-COMPTEUR
      style="float: right; margin-top: 12px"
    >
      <b-icon icon="plus-circle" class="icon-add"> </b-icon>
      Ajouter un compteur par société
    </b-button>
    <b-modal
      ref="ADD-COMPTEUR"
      id="ADD-COMPTEUR"
      :hide-header="true"
      :hide-footer="true"
      @hidden="hideModal('ADD-COMPTEUR')"
      modal-class="cutsom-modal-bootstrap"
    >
      <div class="header mb-2">
        <div class="titleSetting">
          <div class="header-style"></div>
          Ajouter un compteur par société
        </div>
        <div>
          <i
            class="fas fa-solid fa-times"
            @click.prevent.stop="hideModal('ADD-COMPTEUR')"
          ></i>
        </div>
      </div>
      <hr />
      <form @submit.prevent.stop="addCompteur('ADD-COMPTEUR')">
        <div v-for="(item, index) in inputs" :key="index" class="mb-3">
          <Input
            :labelText="item.labelText"
            :inputType="item.inputType"
            :inputValue="compteur[item.inputValue]"
            :inputClass="'form-control'"
            @changeValue="changeValue(index, $event)"
          />
        </div>
        <Error :errors="errorCompteurs" />
        <Loader :show="loading" color="#ffcb35">
          <template v-slot:body>
            <Button
              :typeButton="'submit'"
              :textButton="'Ajouter'"
              :btnClass="'btn btn-block primary-button center-button ml-10-p'"
            ></Button>
          </template>
        </Loader>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "addCompteur",
  data() {
    return {
      loading: false,
      compteur: {
        siret: "",
        numCompteur: "",
        consommation: "",
        typeEnergie: "",
      },
      inputs: [
        {
          labelText: "Siret",
          inputType: "text",
          inputValue: "siret",
        },
        {
          labelText: "Numéro compteur",
          inputType: "text",
          inputValue: "numCompteur",
        },
        {
          labelText: "Consommation",
          inputType: "text",
          inputValue: "consommation",
        },
        {
          labelText: "Type énergie",
          inputType: "text",
          inputValue: "typeEnergie",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["errorCompteurs"]),
  },
  methods: {
    ...mapActions(["ajouterCompteurToSociete", "resetErrorCompteur"]),
    changeValue(index, value) {
      this.compteur[this.inputs[index].inputValue] = value;
    },
    openModal(ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].show();
      }
    },
    resetData() {
      this.compteur = {
        siret: "",
        numCompteur: "",
        consommation: "",
        typeEnergie: "",
      };
    },
    hideModal(ref) {
      this.resetData();
      this.$refs[ref].hide();
    },
    async addCompteur(ref) {
      this.resetErrorCompteur();
      this.loading = true;
      const response = await this.ajouterCompteurToSociete(this.compteur);
      if (response == true) {
        this.loading = false;
        this.hideModal(ref);
        this.$emit("reloadData");
      } else {
        this.loading = false;
      }
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),
  },
};
</script>
