<template>
  <div class="app-wrap">
    <div id="nav">
      <SideBar />
    </div>
    <div>
      <div class="header">hello</div>
      <div class="main">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      sidebarActive: true,
    };
  },
  components: {
    SideBar: () => import("@/components/SideBar.vue"),
  },
  methods: {
    toggleSidebar() {
      this.sidebarActive = !this.sidebarActive;
    },
  },
};
</script>

