<template>
  <div v-if="errors">
    <div v-if="Array.isArray(errors)">
      <div v-for="(error, index) in errors" :key="index">
        <p>
          {{ error }}
        </p>
      </div>
    </div>
    <div v-else>
      <p>{{ errors }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Error",
  props: {
    errors: {
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
p {
  color: red;
  text-align: center;
  font-size: 14px;
}
</style>
