<template>
  <div class="form-group">
    <label>{{ labelText }}</label>
    <input
      :type="inputType"
      :class="[inputClass]"
      :value="inputValueInternal"
      :required="requiredInput"
      @input="changeValue"
    />
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    labelText: {
      type: String,
      required: true,
    },
    inputType: {
      type: String,
      default: "text",
    },
    inputValue: {
      type: String,
      default: "",
    },
    inputClass: {
      type: String,
      default: "",
    },
    onInput: {
      type: Function,
      required: false,
    },
    requiredInput: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
  data() {
    return {
      inputValueInternal: this.inputValue,
    };
  },
  methods: {
    changeValue(event) {
      this.inputValueInternal = event.target.value;
      this.$emit("changeValue", this.inputValueInternal);
    },
  },
};
</script>

<style></style>
