<template>
    <div>
      <div
        class="sidebar"
        :class="{ active: sidebarActive }"
        v-show="sidebarActive"
        :key="1"
      >
        <nav>
          <button @click="toggleSidebar">
              TEST VOLTO
              <i class="fas" :class="['fa-bars']"></i>
          </button>
          <ul>
            <li v-for="item in items" :key="item.id">
              <router-link
                :to="item.route"
                class="router-link--colored"
                :key="item.id"
              >
              <i class="fa fas" :class="['fa-' + item.icon]"></i>
                {{ item.label }}
              </router-link>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="sidebar-small"
        :class="{ active: !sidebarActive }"
        v-show="!sidebarActive"
        :key="2"
      >
        <button @click="toggleSidebar">
          <i class="fas" :class="['fa-bars']"></i>
        </button>
  
        <ul>
          <li v-for="item in iconItems" :key="item.route">
            <router-link
              :to="item.route"
              class="router-link--colored"
              :key="item.route"
            >
              <i class="fa fas" :class="['fa-' + item.icon]"></i>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        sidebarActive: true,
        items: [
          { id: 1, route: "/societe", label: "Sociétés", icon: "user" },
          { id: 2, route: "/dashboard1", label: "Dashboard 1", icon: "user" },
          { id: 3, route: "/dashboard2", label: "Dashboard 2", icon: "user" },
        ],
      };
    },
    computed: {
      iconItems() {
        return this.items.map(({ route, icon }) => ({ route, icon }));
      },
    },
    methods: {
      toggleSidebar() {
        this.sidebarActive = !this.sidebarActive;
      },
    },
  };
  </script>
  
  <style>
  .router-link--colored,
  a.router-link--colored:hover {
    text-decoration-line: none;
    color: #ffcb35;
  }
  a.router-link {
    color: #000;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 250px;
    background-color: #103a5e;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-250px);
  }
  .sidebar-small {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 60px;
    background-color: #103a5e;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50px);
  }
  
  .sidebar-small.active {
    transform: translateX(0);
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  button {
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    /* float: right; */
    background-color: transparent;
    /* width: 0px; */
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  
  .user-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-weight: bold;
    color: #ffcb35;
  }
  
  .user-email {
    font-size: 12px;
    color: #080707;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px 20px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  </style>
  