<template>
    <div class="search-component">
      <div class="search-content">
        <form>
          <div class="relative">
            <div class="form-search">
              <font-awesome-icon icon="fa-magnifying-glass" class="icon-search" />
            </div>
            <input
              type="search"
              v-model="searchTerm"
              class="input-search"
              placeholder="chercher"
              @input="handleInput"
            />
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name : 'searchBar',
    data() {
      return {
        searchTerm: "",
      };
    },
    methods: {
      handleInput() {
        this.$emit("search", this.searchTerm);
      },
    },
  };
  </script>
  
  <style lang="scss" scoped>
  .search-component {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    width: 100%;
    .search-content {
      overflow-x: auto;
      border-radius: 0.25rem;
    }
    .placeholder {
      margin-bottom: 0.25rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
    .relative {
      position: relative;
    }
    .form-search {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding-left: 0.75rem;
      align-items: center;
      pointer-events: none;
    }
    .icon-search {
      color: #cccdd0;
      width: 1.25rem;
      height: 1.25rem;
    }
    .input-search {
      background-color: #f4f5f9;
      display: block;
      padding: 0.25rem;
      padding-left: 2.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 100%;
      height: 2rem;
      border-radius: 0.25rem;
      border: none;
    }
  }
  input:focus {
    outline: none !important;
  }
  </style>
  