<template>
          <div class="col-md-5 mx-auto register-content">
            <div class="row justify-content-center">
              <div class="col-md-8 pt-12">
                <div class="mb-4">
                  <h3>S'inscrire </h3>
                </div>
                <form @submit.prevent.stop="submitForm">
                  <div v-for="(item, index) in inputs" :key="index" class="mb-3">
                    <Input
                      :labelText="item.labelText"
                      :inputType="item.inputType"
                      :inputValue="form[item.inputValue]"
                      :inputClass="'form-control'"
                      :requiredInput="item.requiredInput"
                      @changeValue="changeValue(index, $event)"

                    />
                  </div>
                  <Error  :errors="error"/>
                  <Loader :show="loading" :color="'#ffcb35'">
                    <template v-slot:body>
                      <Button
                    :typeButton="'submit'"
                    :textButton="'Inscrire'"
                    :btnClass="'btn btn-block primary-button center-button ml-37-p'"
                  ></Button>
                    </template>
                </Loader>
                  <router-link
                    class="d-block text-left my-4 text-muted text-center"
                    :to="{ path: '/login' }"
                  >
                    Vous avez déjà un compte ?
                  </router-link>
                </form>
              </div>
            </div>
          </div>
  </template>
  
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: "Register",
  data() {
    return {
      loading : false,
      error : null ,
      form: {
        nom: null,
        prenom: null,
        email : null ,
        password : null
      },
      inputs: [
        {
          labelText: "Nom",
          inputType: "text",
          inputValue: "nom",
          requiredInput : true
        },
        {
          labelText: "Prénom",
          inputType: "text",
          inputValue: "prenom",
          requiredInput : true

        },
        {
          labelText: "Adresse mail",
          inputType: "email",
          inputValue: "email",
          requiredInput : true

        },
        {
          labelText: "Mot de passe",
          inputType: "password",
          inputValue: "password",
          requiredInput : true

        },
      ],
    };
  },
  methods : {
    ...mapActions(['createCompte']),
    changeValue(index, value) {
      this.form[this.inputs[index].inputValue] = value;
    },
    resetData()
    {
      this.error = null 
    },
    async submitForm() {
      this.loading = true
      this.resetData()
      const response = await this.createCompte(this.form)
      response == true ? this.$router.push('/login') : this.error = response.response ;
      this.loading = false 
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),


  },
};
</script>


