<template>
  <div class="calc">
    <div v-for="(item, index) in societes" :key="index" class="card-calcul">
      <span class="title"> {{ item.siret }}</span>
      <div class="body">
        <div>
          <span class="label"> Date début:</span>
          <Datepicker
            type="date"
            v-model="item.dateDebut"
            :clear-button="true"
            class="class-date-picker"
          ></Datepicker>
        </div>
        <div>
          <span class="label"> Date Fin :</span>
          <Datepicker
            type="date"
            v-model="item.dateFin"
            :clear-button="true"
            class="class-date-picker"
          ></Datepicker>
        </div>
        <span class="label"> Compteur:</span>
        <div>
          <b-form-select
            v-model="item.numCompteur"
            :options="item.compteurs"
            text-field="numCompteur"
            value-field="numCompteur"
            class="class-date-picker"
          ></b-form-select>
        </div>
      </div>
      <div>
        <b-button
          class="btn btn-block btn-sm primary-button center-button ml-10-p"
          style="float: right; margin-top: 12px"
          @click="handleClickCalcul(item)"
          :disabled="computedCheckDisabled(item)"
        >
          Calculer
        </b-button>
      </div>
      <span class="ticket">PDL {{ index + 1 }}</span>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";

import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["societes"]),
    computedCheckDisabled() {
      return function (item) {
        if (
          item.dateDebut == null ||
          item.dateFin == null ||
          item.numCompteur == null
        ) {
          return true;
        }
        return false;
      };
    },
  },
  methods: {
    ...mapActions([
      "effectuerUnCalcule",
      "getSocieteByCompte",
      "getListeCompteurParSocieteCalcul",
    ]),
    handleClickCalcul(item) {
      this.effectuerUnCalcule(item);
    },
  },
  async mounted() {
    await this.getSocieteByCompte();
    this.societes.forEach((element) => {
      this.getListeCompteurParSocieteCalcul(element);
    });
  },
  components: {
    Datepicker,
  },
};
</script>

<style scoped lang="scss">
.calc {
  display: flex;
  flex-direction: row;
  .card-calcul {
    min-width: 250px;
    position: relative;
    background-color: #f6f5fb;
    box-shadow: -2px 0px 6px #00000017;
    border-radius: 13px;
    border: none;
    margin: 10px;
    padding: 10px;
    .title {
      font-size: 17px;
      font-weight: 800;
    }
    .body {
      background: white;
      border-radius: 5px;
      padding: 5px;
    }
    .ticket {
      position: absolute;
      bottom: 0px;
      width: 61px;
      color: white;
      background: #ffcb35;
      left: 0px;
      border-radius: 0px 5px;
      padding: 7px;
    }
  }
  .label {
    font-size: 10px;
  }
}
.class-date-picker {
  background: #f6f5fb;
  border-radius: 10px;
  margin-top: 4px;
  width: 100%;
  border-color: transparent;
}
</style>
